
proceso_crudos_reportes/test-pickle-ont
proceso_crudos_reportes/datos_puertos_RBS
proceso_crudos_reportes/picos
proceso_crudos_reportes/test-heavy.ndjson
reportes/Merged-Trends-2020-10-08.pickle
test.txt
Merged-Trends-2020-12-07.ndjson
Pickle_ONT
Pickle_PON
Merged-Trends-2020-12-10.ndjson
.vscode/settings.json
reportes.log
reportes/Refactor/__pycache__/conector.cpython-38.pyc
reportes/Refactor/__pycache__/consultas.cpython-38.pyc
reportes/Refactor/__pycache__/direcciones.cpython-38.pyc
reportes/Refactor/__pycache__/logger.cpython-38.pyc
reportes/Refactor/__pycache__/pusheo.cpython-38.pyc
reportes/Refactor/__pycache__/reporte.cpython-38.pyc
